<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unii.draft.mtg.parings"
    android:versionCode="23"
    android:versionName="0.10.5">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParingDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualPlayerPairingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaveScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryScoreBoardActivity"
            android:screenOrientation="portrait"/>
        <activity
        android:name=".DropPlayerActivity"
        android:screenOrientation="portrait"/>
        <activity
            android:name=".SittingsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
