<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unii.draft.mtg.parings"
    android:versionCode="11"
    android:versionName="0.8.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GameMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchPlayerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
