<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unii.draft.mtg.parings">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MTGDraftParingsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParingDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.options.ManualPlayerPairingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.options.SaveScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.settings.HistoryScoreBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.settings.SettingsMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.settings.HistoryPlayerAchievementsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activities.options.DropPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.options.SittingsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cf9681571439d7c8941d4f5f36f2603e9681592f" />


    </application>

</manifest>